<div class="container">
    <div class="button-close">
        <button mat-icon-button (click)="closeDialog()"><mat-icon>close</mat-icon></button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="caption">
            <mat-form-field color="primary" hintLabel="Pattern: [A-Z][a-z]+-[A-Z][a-z]+">
                <span matPrefix>Gemeente:</span>
                <input matInput type="text" formControlName="gemeente" autocomplete="off" required pattern="[A-Z][a-z]+-[A-Z][a-z]+">
                <mat-error *ngIf="!form.get('gemeente').valid">{{ getError('gemeente') }}</mat-error>
            </mat-form-field>
            <mat-form-field color="primary" class="month-picker">
                <span matPrefix>Maand:</span>
                <mat-select formControlName="maand" required>
                    <mat-option *ngFor="let month of months" [value]="month">{{ month }}</mat-option>
                </mat-select>
                <span matSuffix>{{ year }}</span>
                <mat-error *ngIf="!form.get('maand').valid">{{ getError('maand') }}</mat-error>
            </mat-form-field>
        </div>
        <table>
            <thead>
                <th class="th-start"></th>
                <th class="th-mid">1e week</th>
                <th class="th-mid">2e week</th>
                <th class="th-mid">3e week</th>
                <th class="th-mid">4e week</th>
                <th class="th-mid">5e week</th>
                <th class="th-end">Totaal</th>
                <th class="th-end">Gemiddelde</th>
            </thead>
            <tbody>
                <tr>
                    <td class="meeting">LED-vergadering</td>
                    <td class="input-cell" [class.invalid-cell]="!form.get('week1LED').valid && form.get('week1LED').touched"><input formControlName="week1LED" pattern="([0-9]{2,3}|-\s?(kring|congres)\s?-|-)"></td>
                    <td class="input-cell" [class.invalid-cell]="!form.get('week2LED').valid && form.get('week2LED').touched"><input placeholder="*" formControlName="week2LED" required pattern="([0-9]{2,3}|-\s?(kring|congres)\s?-|-)"></td>
                    <td class="input-cell" [class.invalid-cell]="!form.get('week3LED').valid && form.get('week3LED').touched"><input placeholder="*" formControlName="week3LED" required pattern="([0-9]{2,3}|-\s?(kring|congres)\s?-|-)"></td>
                    <td class="input-cell" [class.invalid-cell]="!form.get('week4LED').valid && form.get('week4LED').touched"><input placeholder="*" formControlName="week4LED" required pattern="([0-9]{2,3}|-\s?(kring|congres)\s?-|-)"></td>
                    <td class="input-cell" [class.invalid-cell]="!form.get('week5LED').valid && form.get('week5LED').touched"><input formControlName="week5LED" pattern="([0-9]{2,3}|-\s?(kring|congres)\s?-|-)"></td>
                    <td class="totaal">{{ totaal('LED') }}</td>
                    <td class="gemiddelde">{{ gemiddeld('LED') }}</td>
                </tr>
                <tr>
                    <td class="meeting">Openbare vergadering /<br>Wachttorenstudie</td>
                    <td class="input-cell" [class.invalid-cell]="!form.get('week1OPW').valid && form.get('week1OPW').touched"><input placeholder="*" formControlName="week1OPW" required pattern="([0-9]{2,3}|-\s?(kring|congres)\s?-|-)"></td>
                    <td class="input-cell" [class.invalid-cell]="!form.get('week2OPW').valid && form.get('week2OPW').touched"><input placeholder="*" formControlName="week2OPW" required pattern="([0-9]{2,3}|-\s?(kring|congres)\s?-|-)"></td>
                    <td class="input-cell" [class.invalid-cell]="!form.get('week3OPW').valid && form.get('week3OPW').touched"><input placeholder="*" formControlName="week3OPW" required pattern="([0-9]{2,3}|-\s?(kring|congres)\s?-|-)"></td>
                    <td class="input-cell" [class.invalid-cell]="!form.get('week4OPW').valid && form.get('week4OPW').touched"><input placeholder="*" formControlName="week4OPW" required pattern="([0-9]{2,3}|-\s?(kring|congres)\s?-|-)"></td>
                    <td class="input-cell" [class.invalid-cell]="!form.get('week5OPW').valid && form.get('week5OPW').touched"><input formControlName="week5OPW" pattern="([0-9]{2,3}|-\s?(kring|congres)\s?-|-)"></td>
                    <td class="totaal">{{ totaal('OPW') }}</td>
                    <td class="gemiddelde">{{ gemiddeld('OPW') }}</td>
                </tr>
            </tbody>
        </table>
        <div class="button-wrapper">
            <button type="button" (click)="onReset()" mat-button mat-flat-button color="warn">Reset</button>
            <span>* = required</span>
            <button [disabled]="!form.valid" type="submit" mat-button mat-flat-button class="done ld-ext-right" [class.inactive]="!form.valid"><span [style.margin-right]="isLoading ? '10%' : 'unset'">Confirm</span><div [class.ld]="isLoading" [class.ld-ring]="isLoading" [class.ld-spin]="isLoading"></div></button>
        </div>
    </form>
</div>
            