<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="drawer">
    <div class="auth-container">
      <h3 *ngIf="authed; else login">Welcome<br>{{ userEmail }}!</h3>
      <ng-template #login>
        <h3>Please login:</h3>
      </ng-template>
      <div class="switch-container">
        <div *ngIf="!authed; else logoutbutton">
          <app-auth></app-auth>
        </div>
        <ng-template #logoutbutton>
          <div class="control-buttons">
            <button type="button" mat-button mat-raised-button color="primary" (click)="openDialog()">New Presentable</button>
            <button type="button" mat-button mat-raised-button color="accent" (click)="getPresentables()" class="ld-ext-right"><span [style.margin-right]="isLoading ? '10%' : 'unset'">Load Presentables</span><div [class.ld]="isLoading" [class.ld-ring]="isLoading" [class.ld-spin]="isLoading"></div></button>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="button-container">
      <div class="button-wrapper" *ngIf="authed">
        <button type="button" mat-button mat-stroked-button color="warn" (click)="logout()" class="log-button">Logout</button>
      </div>
    </div>
    <div class="footer">
      <div class="footer-text">
        <mat-icon>copyright</mat-icon>
        <p>R-DEV 2019</p>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content">
    <div class="back">
      <img src="./assets/abacus.png" alt="abacus image">
    </div>
    <mat-accordion class="pres-list" *ngIf="authed">
      <app-presentables *ngFor="let p of presentables; let i = index" [presId]="i" [p]="p"></app-presentables>
    </mat-accordion>
  </mat-drawer-content>
</mat-drawer-container>